@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror > * {
  margin-bottom: 24px !important;
}

.ProseMirror a {
  text-decoration-line: underline;
}

.ProseMirror blockquote {
  color: #6b7280;
  font-style: italic;
  border-left-width: 4px;
  padding-bottom: 0px;
}

.ProseMirror pre {
  overflow: auto;
  padding: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  max-width: 100%;
  border-radius: 0.25rem;
  border-width: 1px;
}

.ProseMirror code {
  padding-left: 1rem;
  padding-right: 1rem;
  color: #374151;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;
}

.ProseMirror strong {
  color: #374151;
}

.ProseMirror h1 {
  color: #1f2937;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 800;
}

.ProseMirror h2,
.ProseMirror h2,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  color: #1f2937;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  line-height: 1.5;
}

.ProseMirror ol {
  padding-bottom: 24px !important;
  font-size: 0.875rem;
  line-height: 1.25rem;
  list-style-type: decimal;
  list-style-position: outside;
}
.ProseMirror ol > * + * {
  padding-top: 16px;
}

.ProseMirror ul {
  padding-bottom: 24px !important;
  font-size: 0.875rem;
  line-height: 1.25rem;
  list-style-type: disc;
  list-style-position: outside;
}
.ProseMirror ul > * + * {
  padding-top: 16px;
}

.ProseMirror p {
  line-height: 1.625;
}

.ProseMirror table {
  overflow: auto;
  max-width: 100%;
  border-width: 1px;
  border-collapse: collapse;
}
.ProseMirror th {
  color: #4b5563;
  padding: 8px 16px;
  border-width: 1px;
  font-weight: 600;
}

.ProseMirror td {
  padding: 8px 16px;
  border-width: 1px;
}

@media (min-width: 768px) {
  .ProseMirror h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .ProseMirror h2,
  .ProseMirror h2,
  .ProseMirror h4,
  .ProseMirror h5,
  .ProseMirror h6 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .ProseMirror ol {
    font-size: 1rem;
    line-height: 1.5rem;
    line-height: 1.625;
  }

  .ProseMirror ul {
    font-size: 1rem;
    line-height: 1.5rem;
    line-height: 1.625;
  }

  .ProseMirror p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    line-height: 2;
  }
}
